@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee+Inline&family=Monoton&display=swap');
@font-face {
    font-family: 'Neonblitz Regular';
    src: url('FontsFree-Net-Neonblitz.ttf') format('truetype');
    
    /* You can also use other font formats like woff2, woff, etc. */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: visible;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: #F6DDD3ff;
}

.navbar{
    background-color: red;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.nav1 ul{
    display: flex;
}

.nav1 ul li{
    list-style: none;
}
.nav1 ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 1px 2rem;
    font-size: 1.6rem;
    border-radius: 20px;
}
.nav1 ul li a:hover{
    color: red;
    background-color: white;
}
.nav2{
    font-weight: bold;
    color: white;
    display: flex;
    font-size: 1.6rem;
}
.nav2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    flex-direction: column;
}
.nav2-1 a{
    color: white;
    text-decoration: none;
}
.nav2-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav2-2 a{
    color: white;
    text-decoration: none;
}
.carttext span{
    background-color: white;
    color: red;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1px 7px;
}

.cart-section{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: brown;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
}
.cartuppertext h1{
    font-size: 2.5rem;
}
.cartuppertext i{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#cartModal table{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    text-align: center;
    /* font-weight: bold; */
    margin-top: 1rem;
    width: 100%;
    color: white;
    font-size: 1.5rem;
}
#cartModal table th{
    font-size: 2rem;
    padding: 12px 30px;
}
#cartModal table td{
    font-size: 1.5rem;
    padding: 12px 30px;
}

.cart-section h1{
    color: white;
    margin-top: 2rem;
}

.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.displaynone{
    display: none;
}

#checkout{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: red;
    border-radius: 15px;
    padding: 10px 10px;
}
#checkout:hover{
    background-color: red;
    color: white;
}
.hero-section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.part1{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-text h1{
    font-size: 10rem;
    font-family: 'Neonblitz Regular', sans-serif;
    color: red;
}

#btn1{
    color: white;
    background-color: red;
    padding: 10px;
    width: 9em;
    height: 3em;
    font-size: 1em;
    margin: 0 20px;
    border-radius: 2em;
    border:1px solid red;
}

#btn2{
    color: black;
    background-color: rgba(255, 0, 0, 0.025);
    padding: 10px;
    width: 9em;
    height: 3em;
    font-size: 1em;
    margin: 0 20px;
    border-radius: 2em;
    border: 1px solid red;
}

/* Apply hover effects for both buttons */
.btn:hover {
    transform: scale(0.9);
    cursor: pointer;
}

/* Add specific hover effects for btn1 */
#btn1:hover {
    background-color: darkred;
    border-color: darkred;
}

/* Add specific hover effects for btn2 */
#btn2:hover {
    background-color: rgba(255, 0, 0, 0.1);
    border-color: rgba(255, 0, 0, 0.1);
}


.body-section{
    margin-top: 3em;
    height:100em;
    width: 100vw;
}

.body-section-content{
    
    height: 100%;
   
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar{
    margin:0 auto;
    width: 65%;
    height:8%;
    border-radius:5em;
    background-color:#fbcbcb;;
    display: flex;
    flex-wrap: wrap;
    padding:5px 20px;
    justify-content:space-evenly; 
}

.icon{
    height: 3em;
    width: 3em;
}

.itext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-section-items{
    /* background-color: black; */
    display: flex;
    flex-wrap: wrap;
    height: 1500px;
    width: 100%;
    align-content: start;
    justify-content: center;
}

#header{
    margin:20px;
  }
  #header>h1{
    text-align:center;
    font-size:3rem;
  }
  #header>p{
    text-align:center;
    font-size:1.5rem;
    font-style:italic;
  }
  .container{
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: start;
    padding:40px 20px;
    gap: 15px;
  }
  .card{
    display:flex;
    flex-direction:column;
    width:400px;
    margin-bottom:60px;
  }
  .card>div{
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
  }
  .card-image{
    width: 320px;
    height: 250px;
}
  
  .card-image>img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:bottom;
    border-radius: 5px;
  }
  .card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:-30px auto;
    margin-bottom:-50px;
    height: 250px;
    width: 250px;
    background-color:#fe7171b3;;
    color:#fff;
    padding:20px;
  }

  .addcart{
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 7px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    background-color: #971210e6;
    border-radius: 20px;
}
.addcart:hover{
    background-color: red;
  }
  .card-meal-type{
    font-style:italic;
  }
  .card-title{
    font-size:2.2rem;
    margin-bottom:20px;
    margin-top:5px;
    color: black;
  }
  .card-body{
    font-size:1.25rem;
  }
  .card-price{
    width: 75px;
    height:70px;
    background-color:#971210e6;
    color:#fff;
    margin-left:auto;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .header{
    margin:2% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .header h1{
    font-size: 3rem;
  }
  .header p{
    font-size: 1.rem;
  }
  

  .card-pt3{
    height: 8em;
  }

  .burger{
    display: none;
    top: 20%;
    left: 5%;
    position: absolute;

  }
  .line{
    width: 30px;
    background-color: white;
    height: 4px;
    margin: 5px 3px
  }

    /* Website Responsivness */
    @media only screen and (max-width: 1400px) {
        .cart-section{
            width: 60%;
        }
    }

    @media only screen and (max-width: 900px) {
        .burger{
            display: block;
        }
        .navbar{
            flex-direction: column;
            height: 16rem;
            transition: all 0.3s ease-out;
        }
        .nav1 ul{
            margin-top: 1rem;
            flex-direction: column;
            text-align: center;
        }
        .nav1 ul li{
            margin-bottom: 1.2rem;
        }
        .bar{
            width: 85%;
        }
        .h-nav{
            height: 4.5em;
        }
        .v-class{
            opacity: 0;
          }
          .nav2{
            width: 100%;
            justify-content: space-evenly;
          }
        .nav2-1{
            padding: 0;
        }
        .cart-section{
            width: 100%;
        }
    }
    @media only screen and (max-width: 700px) {
        .hero-text h1{
            font-size: 7rem;
        }
        .hero-img img{
            width: 25rem;
        }
        .bar{
            width: 95%;
        }
      }
    @media only screen and (max-width: 600px) {
        #cartModal table th{
            font-size: 1.5rem;
        }
        #cartModal table th{
            font-size: 1.2rem;
        }
    }
    @media only screen and (max-width: 500px) {
        .hero-text h1{
            font-size: 5rem;
        }
        .hero-img img{
            width: 20rem;
        }
        #btn1{
            width: 7em;
        }
        #btn2{
            width: 7em;
        }
        .bar{
            padding: 0;
        }
        .icon{
            height: 2em;
            width: 2em;
        }
        .icon-text{
            font-size: .9em;
        }
      }